Source: ssh-proxy-tracer
Maintainer: Filip Dorosz <filip.dorosz@rapidrage.org>
Section: python
Priority: optional
Build-Depends: python3-setuptools, python3-all, dh-python, python3-pip, python3-dev, debhelper (>= 9)
Standards-Version: 3.9.1

Package: ssh-proxy-tracer
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, python3-bpfcc, bpfcc-tools
Description: SSH proxy connection tracer
 SSH proxy connection tracer enables auditing of connections make by Open SSH server proxy

